body{
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  text-align: center;
  color: #fff;
  background-color: #020403;
}
.list{
  margin: 20px;
  justify-content:space-between;
  gap: 40px;
}
h2 {
  color:#fff;
  font-size: 45px;
}
h1 {
  font-size: 100px;    /* en 150 no respeta la escala con respecto a los iconos*/

}
.icono{
  margin-right: 20px;
  padding-left: 100px;
  justify-content: space-around;
}
.subtitulo{
  color: #adadad;
  font-size: 50px;
  font-weight: 600;
}

.flex-container{
  display: flex;
  justify-content:center;
  align-items: center;
  gap: 50px;
 
}
.flex-container2{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.flex-container2 div div {
  margin-left:10px;
}

.flex-container2 div div svg {
  background:#2d2b2b;
  width: 40px;
  height: 40px;
  margin: 40px;
  border-radius: 50%;
  padding: 20px;
}

.flex-container4 div {
  display: flex;
  width: 70%;
  justify-content: center;

}

.flex-container4{
 text-align: center;
  align-self: center;
  margin: 10px;
 
}

.experiencia{
  display: flex;
  color: #adadad;
  margin-left: 170px;
    
}

.linea {
  width: 40px;
  margin-left: 15%;
  height: 1px;
  background-color: #4b4141;
}

.imgs{
  display: inline-block;
  width: 100%;
  height: 100%;
  gap: 20px;

}

.flex-container3{
  display: flex;
  justify-content: center;
  gap:50px;
 
}